html, body{
	height: 100%;
	margin: 0px;
    padding: 0px
}

#map-canvas {
	margin: 0px;
	padding: 0px;
	width:49%;
	float: left;
	height:100%
}

#content{
	margin: 0px;
	padding: 0px;
	width:49%;
	height:100%;
	float: left;
	/*display:none*/
}

#inputpanel{
	width:100%;
	display:none;
	margin:1px;
}
#gsheet{
	width:20px
}
#address{
	width:65%;
}
#submit{
	width:80px;
}
